<!DOCTYPE  html>
<html>
<head>
  <meta charset="utf-8">
  <title>NeuroML Database</title>
  <%= csrf_meta_tag %>

  <%= favicon %>



  <%= javascript_heads %>

  <%= heads_for_theme %>

  <%= call_hook :view_layouts_base_html_head %>

  <%= stylesheet_link_tag 'style', :media => 'screen' %>
  <%= javascript_include_tag 'jquery-1.5.1.min' %>
  <%= javascript_include_tag 'custom' %>
  <%= javascript_include_tag 'Chart.bundle' %>
  <%= javascript_include_tag 'hammer.min' %>
  <%= javascript_include_tag 'chartjs-plugin-zoom.min' %>


  <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
          a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-49421307-1', 'neuroml-db.org');
      ga('send', 'pageview');

  </script>
</head>

<body class="home">

<!-- HEADER -->
<div id="header">
  <div class="wrapper">
    <a href="/"><%= image_tag "neuro_1.png", :id => 'logo', :alt => 'NeuroML', :width => '380px', :height => '115px' %></a>
    <div id="caption-text">
      <span>Description Language for Models in Neuroscience</span>
    </div>
    <div id="alpha">
      Database
    </div>


    <!--===== End of Search ====== -->


  </div>
  <!-- ENDS search -->
</div>
<!-- ENDS wrapper-header -->
</div>
<!-- ENDS HEADER -->

<!-- Menu -->
<div id="menu">
  <%
    active_class="not_active"
    if controller.action_name == "search_model"
      index2=1
      active_class="current-menu-item"
    elsif controller.action_name == "model_submit"
      index =1
      active_class="current-menu-item"
    elsif controller.action_name == "home_db"
      index3 =1
      active_class="current-menu-item"
    elsif controller.action_name == "documentation"
      index4 =1
      active_class="current-menu-item"
    end

  %>

  <!-- ENDS menu-holder -->
  <div id="menu-holder">
    <!-- wrapper-menu -->
    <div class="wrapper">
      <!-- Navigation -->
      <ul id="nav" class="sf-menu">
        <li
        <% if index2 == 1 %>class="<%= active_class %>"
        <% end %> ><a href="/search_model">Search NeuroML Models</a></li>
        <li
        <% if index == 1 %>class="<%= active_class %>"
        <% end %> ><a href="/model_submit">Submit NeuroML Models</a></li>
        <li
        <% if index3 == 1 %> class="<%= active_class %>"
        <% end %> ><a href="/home_db">About NeuroML-DB</a></li>
        <li
        <% if index4 == 1 %> class="<%= active_class %>"
        <% end %> ><a href="/documentation">Documentation</a></li>
        <li><a href="http://neuroml.org/" target="_blank">NeuroML Home</a></li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>



<div id="bottom">
  <div class="wrapper">
    <div id="bottom-text">Website & Images Copyright NeuroML &copy; <%= Time.now.year %>.<br/> All rights reserved.</div>
    <div id="bottom-middle-text">
      <ul>
        <li>For questions about the NeuroML Database, contact:</li>
        <li><a href="mailto:neuroml.info@gmail.com"><b>neuroml.info@gmail.com</b></a></li>
      </ul>
    </div>
    <div id="bottom-middle-text">
      <ul>
        <li>Links:</li>
        <li><a href="/search_test">Search Test</a>&nbsp;|&nbsp;<a href="/modeldb_model_list">ModelDB WS</a> </li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
