<style>
  .properties { }
  #model-properties-container { position: relative; }
  #property-table { height: <%= @model["Rheobase_High"] == nil ? "232" : "620" %>px; overflow:auto; }

  #property-table .property-name { text-align: right; padding-right: 15px; vertical-align: bottom; }
  #property-table thead td { text-align: left; color: #1376c4; font-weight: bold; }
  #property-table thead td:first-child { text-align: right; padding-right: 15px;  }

</style>
<tr class="properties">
  <td class="keyword" style="vertical-align: top;">Membrane Properties:</td>
  <td class="description">
    <div id="model-properties-container">
      <div id="property-table">
        <table>
          <tbody>
          <tr>
            <td class="property-name">Is Passive</td>
            <td class="property-value"><%= @model["Is_Passive"] == 1 ? "Yes" : "No" %></td>
          </tr>
          <tr>
            <td class="property-name">Is Intrinsically Spiking</td>
            <td class="property-value"><%= @model["Is_Intrinsically_Spiking"] == 1 ? "Yes" : "No" %></td>
          </tr>
          <tr>
            <td class="property-name">Resting Voltage</td>
            <td class="property-value"><%= display_field(@model, "Resting_Voltage", "%.2f", "N/A") %> mV</td>
          </tr>
          <tr>
            <td class="property-name">Rheobase Current Interval</td>
            <td class="property-value">(<%= display_field(@model, "Rheobase_Low", "%.4f", "N/A") %>, <%= display_field(@model, "Rheobase_High", "%.4f", "N/A") %>] nA</td>
          </tr>
          <tr>
            <td class="property-name">Threshold Current Interval</td>
            <td class="property-value">(<%= display_field(@model, "Threshold_Current_Low", "%.4f", "N/A") %>, <%= display_field(@model, "Threshold_Current_High", "%.4f", "N/A") %>] nA</td>
          </tr>
          <tr>
            <td class="property-name">Bias Current (to <%= display_field(@model, "Bias_Voltage", "%.2f", "N/A") %> mV)</td>
            <td class="property-value"><%= display_field(@model, "Bias_Current", "%.4f", "N/A") %> nA</td>
          </tr>
          <tr>
            <td class="property-name">Testing Temperature</td>
            <td class="property-value"><%= @publication["Temperature"] != nil ? @publication["Temperature"] : "36 (default)" %> &#176;C</td>
          </tr>
          <tr>
            <td class="property-name">Stability Interval</td>
            <td class="property-value">[<%= display_field(@model, "Stability_Range_Low_Corr", "%s", "N/A") %>, <%= display_field(@model, "Stability_Range_High_Corr", "%s", "N/A") %>] <%= @type == "Cell" ? "nA" : "mV" %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </td>
</tr>