<style>
  #summary-table { display: inline-block; width: 50%; margin-top: 15px; }
  #summary-table .property-value { width: 25% }

  #size-table { display: inline-block; width: 49%; }
  #size-table .property-name { width: 50% }

  #complexity-plots { display: <%= @model["Rheobase_High"] == nil ? "none" : "block" %>; }

  #fixed-table { display: inline-block; height: 300px; margin-top: 30px; }
  #complexity-plot-fixed { display: inline-block; margin-left: 95px;  }

  #cvode-table { display: inline-block;  height: 300px; margin-top: 30px; margin-left: 130px; }
  #complexity-plot-cvode { display: inline-block;  }
</style>
<div id="model-properties-container">
  <div id="summary-table" class="property-table">
    <table>
      <thead>
      <tr>
        <td>Complexity</td>
        <td>Summary</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="property-name">State Equations</td>
        <td class="property-value"><%= display_field(@model, "Equations", "%d", "N/A") %> <span data-scroll="desc-state-eq" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">Optimal Time-Step</td>
        <td class="property-value"><%= display_field(@model, "Optimal_DT", "%.5f", "N/A") %> ms <span data-scroll="desc-optimal-dt" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">Relative Complexity</td>
        <td class="property-value"><%= display_field(@model, "Optimal_DT_Benchmark_RunTime_HH", "%.2f", "N/A") %> HH <span data-scroll="desc-bench-perf" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="size-table" class="property-table">
    <table>
      <thead>
      <tr>
        <td>Model</td>
        <td>Size</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="property-name">Sections</td>
        <td class="property-value"><%= display_field(@model, "Sections", "%d", "N/A") %> <span data-scroll="desc-sections" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">Compartments</td>
        <td class="property-value"><%= display_field(@model, "Compartments", "%d", "N/A") %> <span data-scroll="desc-compartments" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">State Equations</td>
        <td class="property-value"><%= display_field(@model, "Equations", "%d", "N/A") %> <span data-scroll="desc-state-eq" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="section-header">Fixed Time-Step Run Time vs.	Voltage Potential Error</div>
  <div id="complexity-plot-fixed"><canvas id="chart-fixed-dt" width="300" height="300"></canvas></div>
  <div id="fixed-table" class="property-table">
    <table>
      <tbody>
      <tr>
        <td class="property-name">Run Time-vs-Error Optimal Time-Step</td>
        <td class="property-value"><%= display_field(@model, "Optimal_DT", "%.5f", "N/A") %> ms <span data-scroll="desc-optimal-dt" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">Optimal Time-Step Error</td>
        <td class="property-value"><%= display_field(@model, "Optimal_DT_Error", "%.2f", "N/A") %> % <span data-scroll="desc-optimaldt-error" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">Optimal Time-Step Benchmark Run Time</td>
        <td class="property-value"><%= display_field(@model, "Optimal_DT_Benchmark_RunTime_HH", "%.2f", "N/A") %> HH <span data-scroll="desc-bench-perf" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name"></td>
        <td class="property-value">&nbsp;</td>
      </tr>
      <tr>
        <td class="property-name">Maximum Stable Time-Step</td>
        <td class="property-value"><%= display_field(@model, "Max_Stable_DT", "%s", "N/A") %> ms <span data-scroll="desc-max-dt" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">Maximum Stable Time-Step Error</td>
        <td class="property-value"><%= display_field(@model, "Max_Stable_DT_Error", '%.2f', "N/A") %> % <span data-scroll="desc-max-dt-error" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">Max. Stable Time-Step Benchmark Run Time</td>
        <td class="property-value"><%= display_field(@model, "Max_Stable_DT_Benchmark_RunTime_HH", "%.2f", "N/A") %> HH <span data-scroll="desc-max-dt-runtime" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="section-header">Variable Time-Step Complexity</div>
  <div id="cvode-table" class="property-table">
    <table>
      <tbody>
      <tr>
        <td class="property-name">CVODE Steady State Step Frequency</td>
        <td class="property-value"><%= display_field(@model, "CVODE_baseline_step_frequency", "%d", "N/A") %> Hz <span data-scroll="desc-cvode-freq" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">CVODE Steps Per AP</td>
        <td class="property-value"><%= display_field(@model, "CVODE_steps_per_spike", "%d", "N/A") %> <span data-scroll="desc-cvode-freq-ap" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      <tr>
        <td class="property-name">CVODE Benchmark Run Time</td>
        <td class="property-value"><%= display_field(@model, "CVODE_Benchmark_RunTime_HH", "%.2f", "N/A") %> HH <span data-scroll="desc-cvode-runtime" class="ui-icon ui-icon-info help-btn"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="complexity-plot-cvode"><canvas id="chart-cvode" width="300" height="300"></canvas></div>
</div>
<% if @model["Rheobase_High"] != nil %>
    <script>
        function init_properties() {

            var dt_error = [
                <% @complexity[:dt_sensitivity].each do |row| %>
                {x: <%=row["DT"]%>, y: <%= row["Error"]%>},
                <% end %>
            ];

            var dt_cost_a = <%= @model["Optimal_DT_a"] %>;
            var dt_cost_b = <%= @model["Optimal_DT_b"] %>;
            var dt_cost_c = <%= @model["Optimal_DT_c"] %>;

            var dt_steps = [
                <% @complexity[:dt_sensitivity].each do |row| %>
                {x: <%=row["DT"]%>, y: <%= row["Steps"]%>},
                <% end %>
            ];

            var cvode_spike_steps = [
                <% @complexity[:cvode_spikes_vs_steps].each do |row| %>
                {x: <%=row["Spikes"]%>, y: <%= row["Steps"]%>},
                <% end %>
            ];

            var cvode_steps_base = <%= @model["CVODE_baseline_step_frequency"] %>;
            var cvode_steps_per_spike = <%= @model["CVODE_steps_per_spike"] %>;

            var optimal_dt = <%= @model["Optimal_DT"] %>;
            var optimal_dt_error = [ { x: optimal_dt, y: dt_cost_a/optimal_dt+(dt_cost_b*optimal_dt+dt_cost_c) } ];

            var error_min = Enumerable.from(dt_error).select(function(w) { return w["y"]}).min();
            var error_max = Enumerable.from(dt_error).select(function(w) { return w["y"]}).max();

            var steps_min = Enumerable.from(dt_steps).select(function(w) { return w["y"]}).min();
            var steps_max = Enumerable.from(dt_steps).select(function(w) { return w["y"]}).max();

            var dt_min = Enumerable.from(dt_steps).select(function(w) { return w["x"]}).min();
            var dt_max = Enumerable.from(dt_steps).select(function(w) { return w["x"]}).max();
            var dt_range = dt_max - dt_min;

            var dt_error = Enumerable
                .from(dt_error)
                .select(function(w) { return {x: w["x"], y: (w["y"]-error_min)/(error_max-error_min) } })
                .toArray()

            var dt_steps = Enumerable
                .from(dt_steps)
                .select(function(w) { return {x: w["x"], y: (w["y"]-steps_min)/(steps_max-steps_min) } })
                .toArray()

            var dt_cost = [];
            for(var dt = dt_min; dt < dt_max; dt += dt_range / 20.0) {
                dt_cost.push({x:dt, y:dt_cost_a/dt+(dt_cost_b*dt+dt_cost_c)});
            }
            dt_cost.push({x:dt_max, y:dt_cost_a/dt_max+(dt_cost_b*dt_max+dt_cost_c)});


            var spikes_max = Enumerable.from(cvode_spike_steps).select(function(i) { return i["x"] }).max()

            var cvode_spike_steps_fitted = [];
            for(var spikes = 0; spikes <= spikes_max; spikes++) {
                cvode_spike_steps_fitted.push({x:spikes, y:cvode_steps_base+spikes*cvode_steps_per_spike});
            }


            var ctxFixed = document.getElementById("chart-fixed-dt").getContext('2d');
            var ctxCVODE = document.getElementById("chart-cvode").getContext('2d');

            window.chartFixed = new Chart(ctxFixed, {
                type: 'line',
                data: {
                    datasets: [
                        { label: "dt Error (normd.)", data: dt_error, pointBackgroundColor: 'rgba(255, 0, 0, 0.5)', fill: false, showLine: false},
                        { label: "dt Run time (normd.)", data: dt_steps, pointBackgroundColor: 'rgba(0, 0, 255, 0.5)', fill: false, showLine: false},
                        { label: "dt Total Cost", data: dt_cost, borderColor: 'rgba(255, 0, 255, 0.5)', fill: false, pointRadius: 0 },
                        { label: "Optimal dt Error = " + (<%= @model["Optimal_DT_Error"] %>).toFixed(3) + " %", data: optimal_dt_error, borderColor: 'rgba(255, 0, 255, 0.5)', fill: false, pointRadius: 10 },
                    ]
                },
                options: {
                    animation: { duration: 0 },
                    responsive: false,
                    title: { display: false },
                    hover: { mode: 'nearest', animationDuration: 0 },
                    legend: { display: false, },
                    scales: {
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom',
                            scaleLabel: {
                                display: true,
                                labelString: "dt (ms)"
                            },
                            ticks: { maxRotation: 0, maxTicksLimit: 11  }
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Error, Runtime (Normd.)"
                            }
                        }]
                    }
                }
            });

            window.chartCVODE = new Chart(ctxCVODE, {
                type: 'line',
                data: {
                    datasets: [
                        { label: 'APs vs Steps', data: cvode_spike_steps, pointBackgroundColor: 'rgba(255, 0, 0, 0.5)',showLine:false, fill:false, },
                        { label: 'APs vs Steps (best fit)', data: cvode_spike_steps_fitted, borderColor: 'rgba(255, 0, 0, 0.5)',fill:false, pointRadius: 0 },
                    ]
                },
                options: {
                    animation: { duration: 0 },
                    responsive: false,
                    title: { display: false },
                    hover: { mode: 'nearest', animationDuration: 0 },
                    legend: { display: false, },
                    scales: {
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom',
                            scaleLabel: { display: true, labelString: "Number of APs"},
                            ticks: { maxRotation: 0, maxTicksLimit: 11  }
                        }],
                        yAxes: [{
                            scaleLabel: {display: true, labelString: "CVODE Steps"}
                        }]
                    }
                }
            });
        }

        init_properties()
    </script>
<% end %>