<div style="margin-top: 1em;" id="key_results">
<% count=0 %>
<% model_ids.each do |model_id| %>

    <%
        # If Cell, network, etc... is included in model name, don't show type
        if model_names[count].downcase.include? model_types[count].downcase
          type = ''
        else
          type = model_types[count]
        end
    %>
    <div style="margin-bottom: 1em;"><a title="Model Information for <%=model_id%>" <%= model_atag_params(model_id) %>><b><%= model_names[count] %> <%= type %></b></a> <div style="color:gray; margin-left:12px;font-size:90%;">From: <%=Model.GetModelShortPub(model_id)%></div></div>

    <% count = count + 1 %>
<% end %>
</div>

