<%
  metrics = Model.GetMorphometrics(@model_id)
%>
<script>
    function init_morphology() {
        jQuery("#morphology-full-image-dialog").dialog({
            autoOpen: false,
            resizable: false,
            width: 525,
            maxHeight: 545
        });

        jQuery(".morphology .thumbnail").on("click", function () {
            jQuery("#morphology-full-image-dialog").dialog("open");
        });
    }
</script>
<style>
  .morphology .image { border-radius: 10px; }
  .morphology .thumbnail { width: 200px; height: 200px; background-color: #002c39; float: left; margin-right: 15px !important; cursor:pointer; }
  #morphology-full-image-dialog { display:none; }
  #morphology-full-image-dialog .image { margin: 6px 11px; }
  .morphology-prop-name { text-align: right; padding-right: 15px; vertical-align: bottom; }
  #morphology-morphometrics { height: 200px; overflow: auto; }
  #morphology-morphometrics table { width: 380px; }
  .morphology thead td { text-align: left; color: #1376c4; font-weight: bold; }
  .morphology thead td:first-child { text-align: right; padding-right: 15px;  }
  .morphology table td {  }
</style>
<tr class="morphology">
  <td class="keyword" style="vertical-align: top;">
    Morphology:
  </td>
  <% if @morphometrics_status != 'CURRENT' and @GIF_status != 'CURRENT' %>
    <td class="description">
      No morphology data available for this model.
    </td>
  <% else %>
    <td class="description">
      <% if @GIF_status == 'CURRENT' %>
        <img class="image thumbnail" src="/api/gif?id=<%= @model_id %>">
        <div id="morphology-full-image-dialog" class="morphology"><img class="image" src="/api/gif?id=<%= @model_id %>"></div>
      <% else %>
          <div class="image thumbnail" style="color: lightblue; line-height: 200px; cursor: default; text-align: center;">3D image not available</div>
      <% end %>
      <% if @morphometrics_status == 'CURRENT' %>
        <div id="morphology-morphometrics">
        <table>
          <thead>
            <tr>
              <td>L-Measure Metric</td>
              <td>Value</td>
            </tr>
          </thead>
          <tbody>
          <% metrics.each do |metric| %>
              <tr>
                <td class="morphology-prop-name">
                  <a target="_blank" href="http://cng.gmu.edu:8080/Lm/help/<%= metric["Metric_ID"] %>.htm"><%= metric["Description"] %></a>
                </td>
                <td class="morphology-prop-value">
                  <%= metric[metric["Shown_Statistic"]] %> <%= metric["Units"].html_safe %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <% else %>
        <div id="morphology-morphometrics" style="line-height: 200px; text-alingn:center;">L-Measure morphology metrics not available.</div>
      <% end %>
    </td>
  <% end %>
</tr>
<script>
    init_morphology()
</script>