<style>
  .morphology .image {  border-radius: 10px; }
  .morphology .thumbnail .image { width: 500px; height: 500px; margin-bottom: 20px !important; }
  .morphology-prop-name { text-align: right; padding-right: 15px; vertical-align: bottom; width: 300px; }
  .morphology-prop-value { width: 300px; }
  #morphology-morphometrics table { width: inherit; margin: 0 auto;  }
  .morphology table td {  }
  .morphology thead td { text-align: left; color: #1376c4; font-weight: bold; }
  .morphology thead td:first-child { text-align: right; padding-right: 15px;  }
</style>
<tr class="morphology">
  <% if @compartments.present? and @compartments <= 1 %>
      <td class="description">
        Single compartment, abstract, or point cells do not have morphology data.
      </td>
  <% elsif @morphometrics.rows.length <= 0 and @gif_path == nil %>
    <td class="description">
      No morphology data available for this model.
    </td>
  <% else %>
    <td class="description">
      <div id="section-header">3D Structure and Propagation of Activity</div>
      <% if @gif_path != nil %>
        <div class="thumbnail">
          <img class="image " src="/api/gif?id=<%= @model_id %>">
        </div>
      <% else %>
          <div class="image thumbnail" style="color: lightblue; line-height: 200px; cursor: default; text-align: center;">3D image not available</div>
      <% end %>
      <% if @morphometrics.rows.length > 0 %>
        <div id="morphology-morphometrics">
        <table>
          <thead>
            <tr>
              <td><a href="http://cng.gmu.edu:8080/Lm/" target="_blank">L-Measure</a></td>
              <td>Properties</td>
            </tr>
          </thead>
          <tbody>
          <% @morphometrics.each do |metric| %>
              <tr>
                <td class="morphology-prop-name">
                  <%= metric["Description"] %>
                </td>
                <td class="morphology-prop-value">
                  <%= metric[metric["Shown_Statistic"]] %> <%= metric["Units"].html_safe %> <a title="Read the description of this property on L-Measure website" target="_blank" href="http://cng.gmu.edu:8080/Lm/help/<%= metric["Metric_ID"] %>.htm"><span class="ui-icon ui-icon-info"></span></a>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <% else %>
        <div id="morphology-morphometrics" style="line-height: 200px; text-alingn:center;">L-Measure morphology metrics not available.</div>
      <% end %>
    </td>
  <% end %>
</tr>