<script>

  var queries =
  [
      <% @queries.each do |query| %>

      {
          "Query": "<%= query.Query %>",
          "Keyword":
          {
              "ID" : "<%= query.ModelID_Keyword %>",
              "Position": null,
              "Time": null
          },
          "Ontology":
          {
              "ID" : "<%= query.ModelID_Ontology %>",
              "Position": null,
              "Time": null
          }
      },

      <% end %>
  ];

  var keywordBusy = false;
  var ontologyBusy = false;
  var currentIndex = 0;

  function processNextQuery()
  {
      if(currentIndex < queries.length && !keywordBusy && !ontologyBusy)
      {
          keywordBusy = true;
          ontologyBusy = true;

          AssessQuery(currentIndex);

          currentIndex++;
      }
  }


  function AssessQuery(index)
  {
      query = queries[index];

      findResultPosition(
              query.Keyword,
              '/search_process?all=&exact=&any=&none=&q=',
              "#key_results > div > span",
              function() { keywordBusy = false; },
              jQuery(".Keyword"+index+"_Pos"),
              jQuery(".Keyword"+index+"_Time")
      );

      findResultPosition(
              query.Ontology,
              'search_python?q=',
              "span",
              function() { ontologyBusy = false; },
              jQuery(".Ontology"+index+"_Pos"),
              jQuery(".Ontology"+index+"_Time")
      );
  }

  function findResultPosition(queryObject, searchUrl, elementQuery, doneFunction,posElement,timeElement)
  {
      if(queryObject.ID == "") {
          doneFunction();
          return;
      }

      var beginTime = performance.now();
      var url = searchUrl + htmlUnescape(query.Query);

      jQuery.ajax(
      {
          url: url,
          success: function (data)
          {
              queryObject.Time = performance.now() - beginTime;

              var dom = jQuery(jQuery.parseXML(data.replace(/&/g, "&amp;")));
              var idSpans = dom.find(elementQuery);
              var found = false;
              var position = 0;

              for (var i = 0; i < idSpans.length; i++) {
                  if (idSpans[i].innerHTML == "(" + queryObject.ID + ")") {
                      found = true;
                      position = i;
                      break;
                  }
              }

              if (!found)
                  position = 1000;

              queryObject.Position = position;

              posElement.html("<a href='"+url+"' target='_blank'>"+queryObject.Position+"</a>")
              timeElement.text((queryObject.Time|0) + " ms")

              recomputeAverages();

              doneFunction();
          }
      });
  }
  function recomputeAverages()
  {
      jQuery(".KeywordPosAvg").text(computeAverage("Keyword","Position"));
      jQuery(".KeywordTimeAvg").text(computeAverage("Keyword","Time"));
      jQuery(".OntologyPosAvg").text(computeAverage("Ontology","Position"));
      jQuery(".OntologyTimeAvg").text(computeAverage("Ontology","Time"));
  }
  function computeAverage(type,column)
  {
      var sum = 0.0;
      var count = 0;

      for(var q = 0; q < queries.length; q++)
      {
          if(queries[q][type][column] == null)
            continue;

          count++;
          sum += queries[q][type][column];
      }

      if(count != 0)
        return (sum / count).toFixed(2);
      else
        return "--";
  }

  function htmlUnescape(str){
      return str
              .replace(/&quot;/g, '"')
              .replace(/&#39;/g, "'")
              .replace(/&lt;/g, '<')
              .replace(/&gt;/g, '>')
              .replace(/&amp;/g, '&');
  }

  setInterval(processNextQuery, 100);

</script>
<!-- MAIN -->
<div id="main">
  <!-- wrapper-main -->
  <div class="wrapper">

    <!-- content -->
    <div id="content">

      <!-- title -->
      <div id="page-title">
        <span class="title">Search Results Quality and Performance</span>
      </div>

      <table>
        <tr>
          <td>Query</td>
          <td>Expected Keyword Model</td>
          <td>Actual Position</td>
          <td>Response Time</td>
          <td>Expected Ontology Model</td>
          <td>Actual Position</td>
          <td>Response Time</td>
        </tr>

        <% count = 0 %>
        <% @queries.each do |query| %>

            <tr>
              <td><%= query.Query %></td>
              <td><a target="_blank" href="/model_info?model_id=<%= query.ModelID_Keyword %>"><%= query.ModelID_Keyword %></a></td>
              <td class="Keyword<%= count %>_Pos"></td>
              <td class="Keyword<%= count %>_Time"></td>
              <td><a target="_blank" href="/model_info?model_id=<%= query.ModelID_Ontology %>"><%= query.ModelID_Ontology %></a></td>
              <td class="Ontology<%= count %>_Pos"></td>
              <td class="Ontology<%= count %>_Time"></td>
            </tr>

            <% count = count + 1 %>

        <% end %>

        <tr>
          <td></td>
          <td>Averages:</td>
          <td class="KeywordPosAvg">---</td>
          <td class="KeywordTimeAvg">---</td>
          <td></td>
          <td class="OntologyPosAvg">---</td>
          <td class="OntologyTimeAvg">---</td>
        </tr>
      </table>

    </div>
    <!-- ENDS content -->

  </div>
  <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->

