

<div id="model_window">
                                                <!-- title -->
                                                <div id="page-title">
                                                        <h4>Model Information</h4><!--<div id="close_model" onclick="closemodel()">X</div>-->
                                                </div>
<table id="model_info">
<tr>
<td class="keyword">
Model Id:
</td>
<td class="description">
<%= @model_id %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<span style="font-style:italic;font-size:12px;">( Obtained from Open Source Brain )&nbsp;<img src="../images/osblogo.png" width="30px" height="30px" style="vertical-align:middle;" />
</span>
</td>
</tr>


<tr>
<td class="keyword">
Model Type:
</td>

<td class="description">
<%= @type %>
</td>
</tr>


<tr>
<td class="keyword">
Model Name:
</td>

<td class="description">
<%= @name %>
</td>
</tr>

<tr>
<td class="keyword">
Authors:
</td>

<td class="description">
<% if @auth_list.any? %>
<% @auth_list.each do |author| %>
<%=  author %><br>
<% end %>
<%else%>
None
<%end %>

</td>
</tr>

<tr>
<td class="keyword">
Translators:
</td>

<td class="description">
<% if @trans_list.any? %>
<% @trans_list.each do |translator| %>
<%=  translator %><br>
<% end %>
<%else%>
None
<%end %>

</td>
</tr>

<tr>
<td class="keyword">
Publication:
</td>
<td class="description">
<% if @pub_list.any? %>
<% @pub_list.each do |key,value|     %>
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/<%= key %>"><%= value %></a><br>
<%end%>
<%else%>
None
<%end %>

</td>
</tr>

<tr>
<td class="keyword">
Neurolex IDs:
</td>

<td class="description">
<% if @nlx_list.any? %>
<% @nlx_list.each do |key,value| %>
<a target="_blank" href="http://neurolex.org/wiki/<%= key%>"><%= value %></a><br>
<%end%>
<%else%>
None
<%end %>

</td>
</tr>

<tr>
<td class="keyword">
References:
</td>

<td class="description">
<% if @ref_list.any? %>
<% @ref_list.each do |key,value|     %>
<a target="_blank" href="<%= key%>"><%= value %></a><br>
<%end%>
<%else%>
None
<%end %>

</td>
</tr>


<tr>
<td class="keyword">
Keywords:
</td>

<td class="description">
<% if @keywords_model.blank? %>
None
<% else%>
<%= @keywords_model %>
<%end %>
</td>
</tr>

<% if @type == "Cell" %>

<tr>
<td class="keyword">
Associated Channels:
</td>
<td class="description">
<% if @channel_list.any? %>
<% @channel_list.each do |channel_id,channel_name| %>
<a class="fancybox" href="/model_info?model_id=<%=channel_id%>"><%= channel_name %></a>
<% end %>
<%else%>
None
<%end %>
</td>
</tr>
<tr>
<td class="keyword">
Associated Synapses:
</td>
<td class="description">
<% if @syn_list.any? %>
<% @syn_list.each do |syn_id,syn_name|%>
<a class="fancybox" href="/model_info?model_id=<%=syn_id%>"><%=syn_name%></a>
<% end %>
<%else%>
None
<%end %>
</td>
</tr>
<tr>
<td class="keyword">
Associated Networks:
</td>
<td class="description">
<% if @network_list.any? %>
<% @network_list.each do |network_id,network_name|%>
<a class="fancybox" href="/model_info?model_id=<%=network_id%>"><%=network_name%></a>
<% end %>
<%else%>
None
<%end %>
</td>
</tr>

<% elsif @type == "Channel" %>

<tr>
<td class="keyword">
Associated Cells:
</td>
<td class="description">
<% if @cell_list.any? %>
<% @cell_list.each do |cell_id,cell_name|%>
<a  class="fancybox" href="/model_info?model_id=<%=cell_id%>"><%=cell_name%></a>
<% end %>
<%else%>
None
<%end %>
</td>
</tr>


<% elsif @type == "Network" %>

<tr>
<td class="keyword">
Associated Cells:
</td>
<td class="description">
<% if @cell_list.any? %>
<% @cell_list.each do |cell_id,cell_name|%>
<a class="fancybox" href="/model_info?model_id=<%=cell_id%>"><%=cell_name%></a>
<% end %>
<%else%>
None
<%end %>
</td>
</tr>
<tr>
<td class="keyword">
Associated Synapses:
</td>

<td class="description">
<% if @syn_list.any? %>
<% @syn_list.each do |syn_id,syn_name|%>
<a  class="fancybox" href="/model_info?model_id=<%=syn_id%>"><%=syn_name%></a>
<% end %>
<%else%>
None
<%end %>
</td>
</tr>

<% else %>
<tr>
<td class="keyword">
Associated Network:
</td>

<td class="description">
<% if @network_list.any? %>
<% @network_list.each do |network_id,network_name|%>
<a class="fancybox" href="/model_info?model_id=<%=network_id%>"><%=network_name%></a>
<% end %>
<%else%>
None
<%end %>
</td>
</tr>

<tr>
<td class="keyword">
Associated Cells:
</td>

<td class="description">
<% if @cell_list.any? %>
<% @cell_list.each do |cell_id,cell_name|%>
<a  class="fancybox" href="/model_info?model_id=<%=cell_id%>"><%=cell_name%></a>
<% end %>
<%else%>
None
<%end %>
</td>
</tr>


<% end %>


<tr>
<td class="keyword">
<% if @type == "Cell" %>
<% path="MorphML" %>
<% elsif @type == "Channel" %>
<% path="ChannelML" %>
<% elsif @type == "Network" %>
<% path="NetworkML" %>
<% else %>
<% end %>
NeuroML Files
</td>

<td class="description">
<!--
<%# if @type == "Cell" %>
<a class="example" href="http://spike.la.asu.edu/NeuroMLValidator/Transform.jsp?localFile=/nml/<%=@filename%>&xslFile=NeuroMLFiles/Schemata/v1.8.1/Level3/NeuroML_Level3_v1.8.1_HTML.xsl"><%=@filename%></a>
<%# elsif @type == "Channel" %>
<a class="example" href="http://spike.la.asu.edu/NeuroMLValidator/Transform.jsp?localFile=/nml/<%=@filename%>&xslFile=NeuroMLFiles/Schemata/v1.6/Level2/ChannelML_v1.6_HTML.xsl"><%=@filename%></a>
<%# elsif @type == "Network" %>
<a class="example" href="http://spike.la.asu.edu/NeuroMLValidator/Transform.jsp?localFile=/nml/<%=@filename%>&xslFile=NeuroMLFiles/Schemata/v1.8.1/Level3/NeuroML_Level3_v1.8.1_HTML.xsl"><%=@filename%></a>
<% #else %>
<% #end %>
-->
<!-- <a class="example" href="/NeuroML2_To_HTML/<%#= @destinationFile %>"><%#= @filename %></a>

-->
<a target="_blank" href="/render_xml_file?file=<%= @file %>"><%= @file %></a>
</td>
</tr>
</table>
 <!-- ENDS title -->
                                                                <div class="clear"></div>
                                                <!-- ENDS project column (right) -->


                                        </div>
                                        <!-- ENDS content -->

